body{
    margin: 0;
    padding: 0;

}
.Ama{
    background-color: #ffe6f0;  /*Pastelrosa*/
    text-align: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 100px;   
    font-family: cursive; 

    

    margin: auto;
     

} 
.font{
    font-family: 'Lucida Handwriting', cursive;
    font-size: 20px;
}
